absl-py==0.10.0
astor==0.8.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
dask==2.30.0
dask-jobqueue==0.7.1
distributed==2.30.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
idna==2.10
importlib-metadata==2.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3
msgpack==1.0.0
numpy==1.19.2
opencv-python==4.4.0.44
opt-einsum==3.3.0
Pillow==7.2.0
prettytable==1.0.1
protobuf==3.13.0
psutil==5.7.2
pyaml==20.4.0
python-irodsclient==0.8.3
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
sortedcontainers==2.2.2
tblib==1.7.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
toolz==0.11.1
tornado==6.0.4
tqdm==4.50.2
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
xmlrunner==1.7.7
zict==2.0.0
zipp==3.3.0
